<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>划线</string>
				<key>controller</key>
				<string>DrawLineViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>画矩形</string>
				<key>controller</key>
				<string>DrawRectViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>画圆形</string>
				<key>controller</key>
				<string>DrawCircleViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>画文字</string>
				<key>controller</key>
				<string>DrawTextViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>画图片</string>
				<key>controller</key>
				<string>DrawImageViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>下载进度条</string>
				<key>controller</key>
				<string>DrawDownloadViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>设置不同颜色的线条</string>
				<key>controller</key>
				<string>DrawLineColorViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>绘制渐变色</string>
				<key>controller</key>
				<string>DrawGradientController</string>
			</dict>
		</array>
		<key>section</key>
		<string>Draw</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>使用图形上下文</string>
				<key>controller</key>
				<string>ImageContextViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>给图片添加文字水印</string>
				<key>controller</key>
				<string>ImageAddWaterTextViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>给图片添加图片水印</string>
				<key>controller</key>
				<string>ImageAddWaterImageViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>裁剪圆形图片</string>
				<key>controller</key>
				<string>ImageClipCircleViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>裁剪圆形带边框图片</string>
				<key>controller</key>
				<string>ImageClipCircleAndBorderViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>对VIew进行截取</string>
				<key>controller</key>
				<string>ImageCutViewViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>擦除效果</string>
				<key>controller</key>
				<string>ImageWipeViewcontroller</string>
			</dict>
			<dict>
				<key>name</key>
				<string>自定义大小图片裁剪</string>
				<key>controller</key>
				<string>ImageClipRectImageViewcontroller</string>
			</dict>
		</array>
		<key>section</key>
		<string>图形上下文</string>
	</dict>
</array>
</plist>
